@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

html {
    font-size: 62.5%;
    position: relative;
    width: 90rem;
    height: 250rem;
    left: 0rem;
    top: 0rem;

    background: linear-gradient(180deg, #F6CDE5 0%, rgba(244, 145, 89, 0) 100%);
}

:root{
    --text-primary: #A88D02;
    --text-secundary: #FDE2EF;
    --font-heading: 'Joti One';
    --fon-default:  'Montserrat';
}

#titulo{
    position: relative;
    top: -18rem;
    /*right: 10px;*/
    left: 55rem;
    color: var(--text-primary);
    font-family: var(--font-heading);
    font-size: 5rem;
    font-weight: 900;
    z-index: 3;
}


#header {
    box-sizing: border-box;

    /*position: relative;*/
    width: 126rem;
    height: 16rem;
    left: 6rem;
    right: 6rem;
    top: -2rem;
    /*border: 1px solid #173043;*/
    /*box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    overflow: hidden;
    position: relative;
}

#header::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../Image/Imagem_capa.png");
    background-size: cover;   
   /* background-color: black;*/
    position: absolute;
    top: 0;
    left: 117px;
    right: 123px;
    z-index: 0;
    animation: zoom 3s ease-out;
}

@keyframes zoom{
    0%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1.0);
    }

}

#conteudo {

    position: relative;
    width: 125.4rem;
    height: 215rem;
    left: 12rem;
    top: -16rem;
    
    background: #FDFDE2;
}

#intro{
    position: relative;
    width: 70rem;
    height: 38rem;
    left: 0rem;
    top: 5rem;
}

#imagem_inicial{
    position: relative;
    width: 49rem;
    height: 38rem;
    left: 0rem;
    top: 25rem;
}

#texto_intro{
    position: relative;
    height: 40rem;
    width: 64rem;
    top: 1rem;
    left: 50rem;
}

.primeiro_texto{
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.11em;
    text-align: left;
}

.button{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.133), rgba(0, 0, 0, 0.133)  );
    padding: 1rem, 3rem;
    border-radius: 7px;
    color: var(--text-primary);
    font-size: 2rem;
    font-family: var(--fon-default);
    text-decoration:(none);
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #FDE2EF;    
}

.caixa_disco {
    position: relative;
    height: 14rem;
    width: 49rem;
    left: 7rem;
    top: 7rem;
    background-color: var(--text-secundary);
    border-radius: 5px;
}

.caixa_disco:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px #FDE2EF;

}

.disco{
    position: relative;
    Width: 15rem;
    Height: 14rem;
    border-radius: 5px;
}

#disco_1{
    position: relative;
    top: -1.15rem;    
}

#disco_2{
    position: relative;
    top: -1.15rem;    
}

#disco_3{
    position: relative;
    top: -1.15rem;    
}

#disco_4{
    position: relative;
    top: -1.15rem;    
}

#descricao_album{
    position: relative;
    top: 60rem;
}


#texto1{
    position: relative;
    Top: 5.75rem;
    Left: 17.73rem;
    
}

#texto2{
    position: relative;
    Top: 5.75rem;
    Left: 17.73rem;
}

#texto3{
    position: relative;
    Top: 5.75rem;
    Left: 17.73rem;
}

#texto4{
    position: relative;
    Top: 5.75rem;
    Left: 17.73rem;
}

/*.textinho{
    Font: var(--fon-default);
    Width: 331rem;
    Height: 0rem;
    Top: 27rem;
    Left: 165rem;
}*/

#caixa1{
    position: relative;
    left: 5.73rem;
    right: 54.27rem;
    top: 60.75rem;
    bottom: 0rem;
}

#caixa2{
    position: relative;
    left: 67.8rem;
    right: 5.73rem;
    top: 70.94rem;
    bottom: 83.67%;
}

#caixa3{
    position: relative;
    left: 5.73rem;
    right: 54.27rem;
    top: 80.98rem;
    bottom: 70.63rem;
}

#caixa4{
    position: relative;
    left: 67.8rem;
    right: 5.73rem;
    top: 90.17rem;
    bottom: -52.56rem;
}

